EXPO_PUBLIC_SUPABASE_URL="Посилання на БД Supabase"
EXPO_PUBLIC_SUPABASE_ANON_KEY="Ключ доступа до БД"
APP_VARIANT="Варіант Збірки програми (preview/development/production)"
EXPO_PUBLIC_UPDATE_URL="Посилання на проект expo.dev"
EXPO_PUBLIC_UPDATE_CHANNEL="Канал для оновлень expo.dev (preview/development/production)"